*--------feat_prod_box-----------*/
.feat_prod_box {
    padding: 10px 0 10px 10px;
    margin: 0 20px 20px 0;
    border-bottom: 1px #b2b2b2 dashed;
    clear: both;
}

.feat_prod_box_details {
    padding: 10px 0 10px 0;
    margin: 0 20px 10px 0;
    clear: both;
}


/*--------------cart_table-------------*/
.cart_table {
    width: 440px;
    border: 1px #CCCCCC solid;
    text-align: center;
}

tr.cart_title {
    background-color: #DFDFDF;
}

td {
    padding: 3px;
}

td.cart_total {
    text-align: right;
    padding: 5px 15px 5px 0;
}

img.cart_thumb {
    border: 1px #b2b2b2 solid;
    padding: 2px;
}
